.card{
    background: #D0CE50;
    border-radius: 20px;
    border: 5px solid black;
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.card img{
    border: 2px solid black;
    border-radius: 15px;
    width: 40%;
    height: 80%;
}


.card:hover{
    border: 5px solid #D1432F;
}