.pokemonInfo{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 40%;
    margin: auto;
}

.pokemonInfo h1{
    font-family: "Pokemon Hollow";
    font-size: 350%;
}

.pokemonInfo .dataContainer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.dataContainer .data{
    display: inline;
}

.pokemonInfo img{

}
